body {
    margin: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    background-color: #1D1D1D;
    color: #d5d5d5;

}

.header-content {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.28);
    border-radius: 1%;
    background-color: #1d1d1d;
    padding-top: 10%;
    padding-left: 6%;
    display: flex;
    justify-content: space-between;
    padding-right: 6%;
}

.h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #d5d5d5;
}

.header-icons i {
    text-decoration: none;
    line-height: 1;
    color: #d5d5d5;
    font-size: 28px;
}



.username_or_icon {
    text-decoration: None;
    color: #d5d5d5;
}




.footer {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-color: #474646;
    color: #d5d5d5;
    text-align: center;
    padding: 20px ;


    height: 50px;
    font-size: 14px;
    margin: 10px 20px; /* Add margin to create space around footer */
    border-radius: 20px; /* Add border radius for rounded corners */
    position: fixed;
    bottom: 0;
    width: 90%;


}

.quantity {
    padding-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;

}


.quantity input {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-color: #474646;
    color: #d5d5d5;
    text-align: center;
    width: 300px;
    border: None;
    border-radius: 20px;
    margin-top: 10px;
    height: 50px;
}
#invoice_id::placeholder {
    color: #d5d5d5;
    opacity: 1;
}

button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-color: #85fa4b;
    color: #265e0a;
    text-align: center;
    width: 150px;
    border: None;
    border-radius: 20px;
    margin-top: 10px;
    height: 30px;
    cursor: pointer;

}

.fas {
    font-size: 200px;
    color: #d5d5d5;
}
.parent {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.invoice {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.invoice_inputs {
    flex-direction: row;
    margin-top: -1rem;
}
.scan_data button {
    margin-top: 2rem;
    margin-left: 1rem;
}

#invoice_id {
    text-align: center;
    width: 150px;
    height: 44px;
    border-radius: 5px;
    background-color: #474646;
    color: #d5d5d5;
    border: none;
    font-size: 16px;
}
#invoice_id input {
    color: #d5d5d5;
}

input[type="file"] {
    display: none; /* Скрываем стандартный input */
}

.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    background-color: #474646;
    color: #d5d5d5;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    border: none;
}

.custom-file-upload:hover {
    background-color: #45a049;
}

.invoice_photo_name {
    display: flex;
    margin-top: 0.5rem;
    justify-content: right;
}
