{% extends 'action_remove/action_remove_layout.html' %}
{% load static %}

{% block title %} Sepira - Remove Item {% endblock %}
{% block header_title %} Remove {% endblock %}
{% block content %}


<div class="main">

    <div class="actions">
        <p class="actions_text">Choose the type
        </p>
            <br>
                <a href="preaction_third/qrcodes" class="btn btn-primary">
                    <i class=""></i>
                    Third</a>
                <a href="preaction_forth/qrcodes" class="btn btn-primary">
                    <i class=""></i>
                    Forth</a>

    </div>
</div>

<footer class="footer">
        Powered by Sepira
    </footer>


{% endblock %}