{% extends 'action_return/action_return_layout.html' %}
{% load static %}

{% block title %} Sepira - Return Item {% endblock %}
{% block header_title %} Info {% endblock %}
{% block content %}


<div class="main">

    <div class="actions">
        <p class="actions_text">Choose the type
        </p>
            <br>
                <a href="preaction_fifth/qrcodes" class="btn btn-primary">
                    <i class=""></i>
                    Fifth</a>
                <a href="preaction_sixth/qrcodes" class="btn btn-primary">
                    <i class=""></i>
                    Sixth</a>

    </div>
</div>

<footer class="footer">
        Powered by Sepira
    </footer>


{% endblock %}