body {
    margin: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    background-color: #1D1D1D;
    color: #d5d5d5;

}

.header-content {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.28);
    border-radius: 1%;
    background-color: #1d1d1d;
    padding-top: 10%;
    padding-left: 6%;
    display: flex;
    justify-content: space-between;
    padding-right: 6%;
}

.h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #d5d5d5;
}

.header-icons i {
    text-decoration: none;
    line-height: 1;
    color: #d5d5d5;
    font-size: 28px;
}

.prev i {
    color: #d5d5d5;
}

.username_or_icon {
    text-decoration: None;
    color: #d5d5d5;
    font-size: 18px;
}




.footer {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-color: #474646;
    color: #d5d5d5;
    text-align: center;
    padding: 20px ;


    height: 50px;
    font-size: 14px;
    margin: 10px 20px;
    border-radius: 20px;
    position: fixed;
    bottom: 0;
    width: 90%;
}

.main {
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 20px;
}

.add_item {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-color: #85fa4b;
    color: #265e0a;
    text-align: center;
    width: 150px;
    border: None;
    border-radius: 20px;
    margin-top: 10px;
    height: 30px;
    cursor: pointer;

}