{% extends 'quantity/quantity_layout.html' %}
{% load static %}

{% block title %} Sepira - Set Quantity {% endblock %}

{% block header_title %} Quantity {% endblock %}

{% block content %}
<div class="parent">
    <i class="fas fa-cubes-stacked "></i>
</div>
<div class="scan_data">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

            <div class="quantity">
                <label for="quantity"></label>
                <input type="number" id="quantity" name="quantity" min="1" required placeholder="{{ last_scan.item.name }} quantity: . . ." width="100px">
            </div>

            <div class="invoice">
                <br><span>Insert ID or Image of the Invoice</span>
                <div class="invoice_inputs">
                    <br> <input type="number" id="invoice_id" name="invoice_id" placeholder="id">
                    <label for="invoice_image" class="custom-file-upload">
                        Choose the file
                    </label>
                    <input type="file" id="invoice_image" name="invoice_image" accept="image/*">

                    {% if last_scan and last_scan.invoice_photo %}
                        <span id="file-name-display">{{ last_scan.invoice_photo.name }}</span>
                    {% else %}
                        <span id="file-name-display"></span>
                    {% endif %}
                </div>
            </div>


            <br><button type="submit">Confirm</button>
    </form>
</div>

<footer class="footer">
        Powered by Sepira
    </footer>

    <script>
            document.getElementById("invoice_image").addEventListener("change", function () {
            let fileName = this.files.length > 0 ? this.files[0].name : "Файл не выбран";
            document.getElementById("file-name").textContent = fileName;
            });

            document.getElementById('invoice_image').addEventListener('change', function(event) {
                let fileNameDisplay = document.getElementById('file-name-display');
                let file = event.target.files[0];  // Получаем выбранный файл
                if (file) {
                    fileNameDisplay.textContent = file.name;  // Показываем имя файла
                } else {
                    fileNameDisplay.textContent = "No file chosen";
                }
            });

            document.getElementById('invoice_image').addEventListener('change', function(event) {
                let fileNameDisplay = document.getElementById('file-name-display');
                let file = event.target.files[0]; // Получаем выбранный файл

                if (file) {
                    let fileName = file.name;
                    if (fileName.length > 15) {
                        fileName = fileName.slice(0, 4) + "..." + fileName.slice(-6); // Форматирование имени
                    }
                    fileNameDisplay.textContent = fileName; // Показываем имя файла
                } else {
                    fileNameDisplay.textContent = "No file chosen";
                }
            });
    </script>
{% endblock %}