{% extends 'quantity/quantity_layout.html' %}
{% load static %}

{% block title %} Sepira - Set Quantity {% endblock %}

{% block header_title %} Quantity {% endblock %}

{% block content %}
<div class="parent">
    <i class="fas fa-cubes-stacked "></i>
</div>
<div class="scan_data">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

            <div class="quantity">
                <label for="quantity"></label>
                <input type="number" id="quantity" name="quantity" min="1" required placeholder="{{ last_scan.item.name }} quantity: . . ." width="100px">
            </div>

            <div class="invoice">
                <br><span>Insert ID or Image of the Invoice</span>
                <div class="invoice_inputs">
                    <br> <input type="number" id="invoice_id" name="invoice_id" placeholder="id">
                    <label for="invoice_image" class="custom-file-upload">
                        Choose the file
                    </label>
                        <input type="file" id="invoice_image" name="invoice_image" accept="image/*">
                    {% if last_scan and last_scan.invoice_photo%}
                        <span class="invoice_photo_name">{{ last_scan.invoice_photo }}</span>
                    {% endif %}


                </div>
            </div>

            <br><button type="submit">Confirm</button>
    </form>
</div>

<footer class="footer">
        Powered by Sepira
    </footer>

    <script>
            document.getElementById("invoice_image").addEventListener("change", function () {
            let fileName = this.files.length > 0 ? this.files[0].name : "Файл не выбран";
            document.getElementById("file-name").textContent = fileName;
        });
    </script>
{% endblock %}