<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Scanner</title>
    <!-- Подключаем библиотеку html5-qrcode -->
    <script src="{% static 'qrcodes/js/html5-qrcode.min.js' %}"></script>

</head>
<body>
    <h1>QR Code Scanner</h1>
    <div id="qr-reader" style="width: 500px;"></div>

    <script>
        function onScanSuccess(decodedText, decodedResult) {
            // Отправка данных на сервер
            fetch("{% url 'process_qr_scan' %}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": "{{ csrf_token }}"
                },
                body: JSON.stringify({ data: decodedText })
            })
            .then(response => {
                if (response.redirected) {
                    window.location.href = response.url;
                }
            })
            .catch(error => console.error("Error:", error));
        }

        function onScanFailure(error) {
            // Обработка ошибки
            console.warn(`QR Code scan error: ${error}`);
        }

        let html5QrcodeScanner = new Html5QrcodeScanner(
            "qr-reader", { fps: 10, qrbox: { width: 250, height: 250 } });
        html5QrcodeScanner.render(onScanSuccess, onScanFailure);
    </script>
</body>
</html>
