{% extends 'action_add/action_add_layout.html' %}
{% load static %}

{% block title %} Sepira - Add Item {% endblock %}
{% block header_title %} Add {% endblock %}
{% block content %}


<div class="main">

    <div class="actions">
        <p class="actions_text">Choose the type
        </p>
            <br>
                <a href="preaction_first/qrcodes" class="btn btn-primary">
                    <i class=""></i>
                    First</a>
                <a href="preaction_second/qrcodes" class="btn btn-primary">
                    <i class=""></i>
                    Second</a>

    </div>
</div>

    <footer class="footer">
        Powered by Sepira
    </footer>


{% endblock %}