{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'action_add/css/action_add.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">


    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header class="header">
        <div class="header-content">

            <div class="back_page">
                <a href="/" class="prev">
                    <i class="fas fa-angle-left"></i>
                </a>
            </div>

            <span class="h1">{% block header_title %}{% endblock %}</span>
            <div class="header-icons">

                <a href="{% url 'profile' %}" class="username_or_icon">
                    {% if user.is_authenticated %}
                        {{ user.username }}
                    {% else %}
                        <i class="fas fa-user"></i>
                    {% endif %}
                </a>
            </div>
        </div>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>